.stage-window {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13),
      0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.stage-window .button-group {
    margin-top: 2.75rem;
}
.stage-body,
.stage-header {
    padding: 1.75rem;
}